/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03opertators/BasicOperator/nbproject/private/
/workshops/unit1/WS03opertators/BasicOperation/nbproject/private/
/workshops/unit1/WS03opertators/BasicOperation/build/
/assignments/Unit1/HW02/AreaHexagonShort/nbproject/private/
/assignments/Unit1/HW02/AreaHexagonShort/build/
/assignments/Unit1/HW02/AreaHexagonShort/dist/
/assignments/Unit1/HW02/AreaHexagonFloat/nbproject/private/
/assignments/Unit1/HW02/AreaHexagonFloat/build/
/assignments/Unit1/HW02/AreaHexagonInt/nbproject/private/
/assignments/Unit1/HW02/AreaHexagonInt/build/
/workshops/unit1/WS04LogicalOperations/nbproject/private/
/workshops/unit1/WS04LogicalOperations/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/Unit1/HW03Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/dist/
/assignments/Unit1/HW03Iterations/build/
/assignments/Unit1/WS06OperatorProceder/nbproject/private/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/Unit1/HW04Menus/HW04Menus/nbproject/private/
/assignments/Unit1/HW04Menus/HW04Menus/build/
/assignments/Unit1/HW04Menus/nbproject/private/
/assignments/Unit1/HW04Menus/build/
/assignments/Unit1/HW-04Menus/build/
/assignments/Unit1/HW-04Menus/nbproject/private/
/assignments/Unit1/HW-04Menu/nbproject/private/
/assignments/Unit1/HW04_Menus/nbproject/private/
/assignments/Unit1/HW04_Menues/nbproject/private/
/assignments/Unit1/HW04_Menues/build/
/Exams/Unit 1/CominaLeonelaQ11/nbproject/private/
/Exams/Unit 1/CominaLeonelaQ11/build/
/workshops/unit2/WS08ExamQ11Correction/nbproject/private/
/workshops/unit2/WS08ExamQ11Correction/build/
/assignments/Unit2/HW08FactorialNumber/nbproject/private/
/assignments/Unit2/HW08FactorialNumber/build/
/assignments/Unit2/HW09-EmbeddedStructures/nbproject/private/
/assignments/Unit2/HW09-EmbeddedStructures/build/
/workshops/unit2/WS10-Functions/nbproject/private/
/workshops/unit2/WS10-Functions/build/
/workshops/unit2/WS10-Functions/dist/
