/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03opertators/BasicOperator/nbproject/private/
/workshops/unit1/WS03opertators/BasicOperation/nbproject/private/
/workshops/unit1/WS03opertators/BasicOperation/build/
/assignments/Unit1/HW02/AreaHexagonShort/nbproject/private/
/assignments/Unit1/HW02/AreaHexagonShort/build/
/assignments/Unit1/HW02/AreaHexagonShort/dist/
/assignments/Unit1/HW02/AreaHexagonFloat/nbproject/private/
/assignments/Unit1/HW02/AreaHexagonFloat/build/
/assignments/Unit1/HW02/AreaHexagonInt/nbproject/private/
/assignments/Unit1/HW02/AreaHexagonInt/build/
/workshops/unit1/WS04LogicalOperations/nbproject/private/
/workshops/unit1/WS04LogicalOperations/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/Unit1/HW03Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/dist/
/assignments/Unit1/HW03Iterations/build/
/assignments/Unit1/WS06OperatorProceder/nbproject/private/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/Unit1/HW04Menus/HW04Menus/nbproject/private/
/assignments/Unit1/HW04Menus/HW04Menus/build/
/assignments/Unit1/HW04Menus/nbproject/private/
/assignments/Unit1/HW04Menus/build/
/assignments/Unit1/HW-04Menus/build/
/assignments/Unit1/HW-04Menus/nbproject/private/
/assignments/Unit1/HW-04Menu/nbproject/private/
/assignments/Unit1/HW04_Menus/nbproject/private/
/assignments/Unit1/HW04_Menues/nbproject/private/
/assignments/Unit1/HW04_Menues/build/
/Exams/Unit 1/CominaLeonelaQ11/nbproject/private/
/Exams/Unit 1/CominaLeonelaQ11/build/
/workshops/unit2/WS08ExamQ11Correction/nbproject/private/
/workshops/unit2/WS08ExamQ11Correction/build/
/assignments/Unit2/HW08FactorialNumber/nbproject/private/
/assignments/Unit2/HW08FactorialNumber/build/
/assignments/Unit2/HW09-EmbeddedStructures/nbproject/private/
/assignments/Unit2/HW09-EmbeddedStructures/build/
/workshops/unit2/WS10-Functions/nbproject/private/
/workshops/unit2/WS10-Functions/build/
/workshops/unit2/WS10-Functions/dist/
/assignments/Unit2/HW10-Functions/nbproject/private/
/assignments/Unit2/HW10-Functions/build/
/workshops/unit2/WS11-FunctionsAndRecursion/nbproject/private/
/workshops/unit2/WS11-FunctionsAndRecursion/build/
/assignments/Unit2/HW11-Recursion/nbproject/private/
/assignments/Unit2/HW11-Recursion/build/
/assignments/Unit2/HW12-Recursion/nbproject/private/
/assignments/Unit2/HW12-Recursion/build/
/assignments/Unit2/HW11-Recursion/HW09-EmbeddedStructures/build/
/assignments/Unit2/HW11-Recursion/HW09-EmbeddedStructures/nbproject/private/
/assignments/Unit2/HW11-FuctionsProject/build/
/assignments/Unit2/HW11-FuctionsProject/nbproject/private/
/workshops/unit2/WS12-Libraries/nbproject/private/
/workshops/unit2/WS12-Libraries/build/
/assignments/Unit2/HW12-Taxes/nbproject/private/
/assignments/Unit2/HW12-Taxes/build/
/workshops/unit2/WS13-Task/nbproject/private/
/workshops/unit2/WS13-Task/build/
/workshops/unit2/WS14-ProfessionsSalaries/nbproject/private/
/workshops/unit2/WS14-ProfessionsSalaries/build/
/workshops/unit2/WS14-FarmSimulator/nbproject/private/
/workshops/unit2/WS14-FarmSimulator/build/
/workshops/unit2/WS14-FarmSimulator/dist/
/assignments/Unit2/HW14Arrays/nbproject/private/
/assignments/Unit2/HW14Arrays/build/
/Quizes/Quiz1-Arrays/nbproject/private/
/Quizes/Quiz1-Arrays/build/
/Quizes/Quiz1-Arrays/dist/
/workshops/unit2/WS15-CorrectionQuizArrays/nbproject/private/
/workshops/unit2/WS16DimensiaonalArrays/nbproject/private/
/workshops/unit2/WS16MatrixAddition/nbproject/private/
/workshops/unit2/WS16MatrixAddition/build/
/workshops/unit2/WS15CorrectionQuizArrays/nbproject/private/
/workshops/unit2/WS15CorrectionQuizArrays/build/
/assignments/Unit2/HW15-MatrixOperation/nbproject/private/
/assignments/Unit2/HW15-MatrixOperation/build/
/workshops/unit2/WS17-MatrixandFunctions/nbproject/private/
/workshops/unit2/WS17-MatrixandFunctions/build/
/assignments/Unit2/HW16-MatrixFunction/nbproject/private/
/assignments/Unit2/HW16-MatrixFunction/build/
/Exams/Unit 2/CominaLQ11/nbproject/private/
/Exams/Unit 2/CominaLQ11/build/
/workshops/unit2/WS19-ArraysInspection/nbproject/private/
/workshops/unit3/WS19-ArraysInspection/CordovaJQ11-/CordovaJQ11/nbproject/private/
/workshops/unit3/WS19-ArraysInspection/CordovaJQ11-/CordovaJQ11/build/
/workshops/unit2/WS11-FunctionsAndRecursion/dist/
/workshops/unit3/WS21-vehicles/nbproject/private/
/workshops/unit3/WS21-vehicles/build/
/workshops/unit3/WS21-vehicles/dist/
/workshops/unit3/WS22-ModularCalculator/nbproject/private/
/workshops/unit3/WS22-ModularCalculator/build/
/workshops/unit3/WS23-TaskDeclaration/nbproject/private/
/workshops/unit3/WS23-TaxDeclaration/nbproject/private/
/workshops/unit3/taxLibrary/nbproject/private/
/workshops/unit3/WS23-TaxDeclaration/dist/
/workshops/unit3/WS23-TaxDeclaration/build/
/workshops/unit3/WS23/TaxDeclaration/nbproject/private/
/workshops/unit3/WS23-Libraries/TaxDeclaration/nbproject/private/
/workshops/unit3/WS23-Libraries/TaxLibrary/nbproject/private/
/workshops/unit3/WS23-Libraries/TaxLibrary/build/
/workshops/unit3/WS23-Libraries/TaxLibrary/dist/
/workshops/unit3/WS23-Libraries/TaxDeclaration/build/
/assignments/Unit3/HW17-Libraries/MatrixFunction/nbproject/private/
/assignments/Unit3/HW17-Libraries/MatrixLibrary/nbproject/private/
/assignments/Unit3/HW17-Libraries/MatrixLibrary/build/
/assignments/Unit3/HW17-Libraries/MatrixLibrary/dist/
/assignments/Unit3/HW17-Libraries/MatrixFunction/build/
/workshops/unit3/WS24-SortingAlgortihms/Sorting/nbproject/private/
/workshops/unit3/WS24-SortingAlgortihms/Sorting/build/
/assignments/Unit3/HW18-Seaching/nbproject/private/
/assignments/Unit3/HW18-Seaching/build/
